.title-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
}

.title-content {
  font-size: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: -1.5px;
  color: #1a1a1a;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.title-content::after {
  width: 100%;
  height: 2px;
  content: "";
  background-color: #7042a8;
  display: block;
  margin-top: 6px;
}

.subtitle-brand {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #666;
  letter-spacing: 0.5px;
  margin-bottom: 48px;
  border-left: 3px solid #7042a8;
  padding-left: 15px;
}

.price-old {
  color: #fa0000;
  text-decoration: line-through;
  font-size: 0.85rem;
}

.price-container-brand {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-current {
  font-weight: bold;
  font-size: 1.2rem;
}

.discount-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #d90429;
  padding: 5px 12px;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.7rem;
  z-index: 99;
}
